.menu__title__container {
  color: white;
}

.menu__title__container > h1 {
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 130px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.menu__title__container > h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.menu__title__container > hr {
  margin-top: 6px;
  margin-bottom: 4px;
}

