<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    image="../../../assets/IMG_6554.jpg"
    cardTitle="Um anúncio novo"
    cardDescription="Uma descrição aqui"></app-big-card>
    <app-big-card
    id="7"
    image="../../../assets/IMG_6554.jpg"
    cardTitle="Um anúncio novo"
    cardDescription="Uma descrição aqui" ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    id="2"
    image="../../../assets/IMG_6883.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    id="3"
    image="../../../assets/IMG_6813.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    id="4"
    image="../../../assets/IMG_6743.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    id="5"
    image="../../../assets/IMG_6682.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    id="6"
    image="../../../assets/IMG_6652.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
  </div>
</div>
