<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    image="../../../assets/images.jpg"
    cardTitle="Um anúncio novo"
    cardDescription="Uma descrição aqui" ></app-big-card>
    <app-big-card
    image="../../../assets/images (1).jpg"
    cardTitle="Um anúncio novo"
    cardDescription="Uma descrição aqui" ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    image="../../../assets/images.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    image="../../../assets/images.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    image="../../../assets/images.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    image="../../../assets/images.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
    <app-small-card
    image="../../../assets/images.jpg"
    smallCardTitle="Um anúncio não tão novo aqui"
    ></app-small-card>
  </div>
</div>
